<!-- Begin Organizers Section -->
<section id="sponsors">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <!-- <h3>Organizers</h3> -->
            <h5>Main organizer</h5>
            <ul class="list-inline">
                <li>
                    <a href="http://gdggaborone.org/" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/gdg-logo.png" alt="Google Developers Group Gaborone">
                    </a>
                </li>
            </ul>
            <h5>Co-organizers</h5>
            <ul class="list-inline">
                <li>
                    <a href="#" target="_blank">
                        <img src="{{ site.baseurl }}/img/sponsors/gdg-kyiv.png" alt="Google Developers Group Francistown">
                    </a>
                </li>
               
            </ul>
        </div>
    </div>
</section>
<!-- End Organizers Section -->
